*{
	margin: 0;
	padding: 0;
}

div#myTabContent {
    padding-top: 10px;
}

#main .card-header.text-center,nav.main-menu.bg-light {
    background: #ffa012 !important;
}

#footer .card-header {
    font-weight: bold;
    text-align: center;
}

#footer .card {
    background: #ffa012;
    border: none;
}

#footer .col-md-3 {
    padding: 0;
}

footer#footer {
    margin-top: 15px;
    background: #ffa012;
}

.product-hot {
    margin-bottom: 20px;
}
#main-right ul.list-group .description {
    width: 100%;
}
#main-right li.row {
    padding: 5px;
    width: 100%;
    margin: 0;
}

#main li.row:after  {
	margin-top:3px;
	content:  "";
    width: 95%;
    border-bottom: 1px dotted #000;
}

#main-right li.row:last-child:after {
    border-bottom: none;
}

#main-right li.row img:hover {
    transform: scale(1.3);
    transition: 0.8s;
}

div#carouselExampleIndicators {
    margin: 10px 0 25px;
}

.logo img {
    margin: 10px 22px;
}
a{
	color: #000;
}

.menu-top a.nav-link {
    padding: 10px;
    text-transform: uppercase;
}
