.proUpdate {
  display: none;
}

/* @font-face {
	font-family:Helvetica-light;
    src:url('Helvetica Neue/OTF/HelveticaNeue-Light.otf');
} */
@font-face {
  font-family: 'OpenSansBoldItalic';
  src: local("OpenSans"), local("OpenSans-BoldItalic"), url("fonts/Open_Sans/OpenSans-BoldItalic.ttf") format("ttf");
}
@font-face {
  font-family: RobotoRegular400;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url("fonts/Roboto/Roboto-Regular.ttf") format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
body {
  font-family: RobotoRegular400;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: OpenSansBoldItalic;
  font-weight: 500;
}

.footer {
  padding: 7px 30px;
}

.bg-title {
  padding: 5px 10px;
  margin-bottom: 0;
}
.bg-title h4 {
  font-family: OpenSansBoldItalic;
  font-size: 24px;
  font-weight: 800;
}

div.activeform {
  text-align: center;
  margin-top: 33px;
  padding: 0;
}

.btn_save {
  position: fixed;
  right: 74px;
  top: 80px;
  z-index: 2;
}

.btn_luu {
  padding: 11px 20px;
  font-size: 20px;
}

.btn_active {
  margin-top: 20px;
  font-size: 20px;
}

.Quickchange.btnName {
  text-align: left;
  color: #3f00ff;
}
.Quickchange.btnName:hover {
  color: #d71212;
  background-color: #0000001f;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 5px;
}

.detail-view th {
  width: 12%;
}

.proUpdate .btn.btn-outline {
  margin: 2px;
  padding: 7px 3px;
}

.QuickStatus {
  transition: 0.4s;
}

.actionColumn a {
  margin-left: 5px;
}
.actionColumn a span {
  transition: 0.6s;
}
.actionColumn a:hover span {
  color: #ff0000;
  font-size: 20px;
}

.tab-content {
  margin-top: 9px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: #3cd0cc;
}
.nav-tabs > li > a {
  line-height: 22px;
}

div.mce-fullscreen {
  position: fixed;
  top: 0;
  left: 92px;
  z-index: 1001;
}

@media only screen and (min-width: 768px) {
  .fix-header .navbar-static-top {
    position: relative;
  }
  .fix-header #page-wrapper {
    margin-top: 0;
  }
}
